@page
@model CreateModel
@{
}

<h2>New Movie</h2>

<form method="post">
    <div asp-validation-summary="All"></div>
    
    <label asp-for="Movie.Id"></label>
    <input asp-for="Movie.Id" /><br />

    <label asp-for="Movie.Title"></label>
    <input asp-for="Movie.Title" />
    <span asp-validation-for="Movie.Title"></span><br />

    <label asp-for="Movie.ReleaseYear"></label>
    <input asp-for="Movie.ReleaseYear" /><br />

    <label asp-for="Movie.Summary"></label>
    <textarea asp-for="Movie.Summary"></textarea><br />

    <button type="submit">Save</button>
    <a asp-page="./Index">Cancel</a>
</form>